## Deliverable 2. Create a Customer Travel Destinations Map.

In [37]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Saint-Philippe,RE,-21.3585,55.7679,81.48,77,40,10.11,scattered clouds
1,1,Rikitea,PF,-23.1203,-134.9692,75.63,75,100,9.82,light rain
2,2,Vaini,TO,-21.2000,-175.2000,77.16,100,90,5.75,moderate rain
3,3,Busselton,AU,-33.6500,115.3333,71.10,46,3,7.94,clear sky
4,4,Talnakh,RU,69.4865,88.3972,16.63,96,100,7.38,light snow

In [28]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [29]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Saint-Philippe,RE,-21.3585,55.7679,81.48,77,40,10.11,scattered clouds
1,1,Rikitea,PF,-23.1203,-134.9692,75.63,75,100,9.82,light rain
2,2,Vaini,TO,-21.2000,-175.2000,77.16,100,90,5.75,moderate rain
9,9,Atuona,PF,-9.8000,-139.0333,78.33,75,9,17.54,clear sky
11,11,Hilo,US,19.7297,-155.0900,76.73,81,90,6.91,overcast clouds
17,17,Kapaa,US,22.0752,-159.3190,80.58,74,40,1.01,scattered clouds
18,18,Bantogon,PH,6.5333,124.0333,85.77,67,8,6.46,clear sky
20,20,Kavaratti,IN,10.5669,72.6420,81.68,75,99,7.78,overcast clouds
24,24,Mogadishu,SO,2.0371,45.3438,79.56,75,100,10.58,overcast clouds
31,31,Kahului,US,20.8947,-156.4700,78.82,80,40,18.41,scattered clouds

In [30]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                184
City                   184
Country                184
Lat                    184
Lng                    184
Max Temp               184
Humidity               184
Cloudiness             184
Wind Speed             184
Current Description    184
dtype: int64

In [40]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Saint-Philippe,RE,-21.3585,55.7679,81.48,77,40,10.11,scattered clouds
1,1,Rikitea,PF,-23.1203,-134.9692,75.63,75,100,9.82,light rain
2,2,Vaini,TO,-21.2000,-175.2000,77.16,100,90,5.75,moderate rain
9,9,Atuona,PF,-9.8000,-139.0333,78.33,75,9,17.54,clear sky
11,11,Hilo,US,19.7297,-155.0900,76.73,81,90,6.91,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
672,672,Wanaka,NZ,-44.7000,169.1500,76.10,35,74,7.00,moderate rain
676,676,Nandgaon,IN,20.3167,74.6500,79.72,36,57,6.73,broken clouds
677,677,Puri,IN,19.8000,85.8500,79.32,50,30,10.16,scattered clouds
686,686,Tual,ID,-5.6667,132.7500,84.61,74,46,7.27,scattered clouds
688,688,Bandarbeyla,SO,9.4942,50.8122,80.04,60,73,11.23,broken clouds

In [41]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Saint-Philippe,RE,81.48,scattered clouds,-21.3585,55.7679,
1,Rikitea,PF,75.63,light rain,-23.1203,-134.9692,
2,Vaini,TO,77.16,moderate rain,-21.2000,-175.2000,
9,Atuona,PF,78.33,clear sky,-9.8000,-139.0333,
11,Hilo,US,76.73,overcast clouds,19.7297,-155.0900,
17,Kapaa,US,80.58,scattered clouds,22.0752,-159.3190,
18,Bantogon,PH,85.77,clear sky,6.5333,124.0333,
20,Kavaratti,IN,81.68,overcast clouds,10.5669,72.6420,
24,Mogadishu,SO,79.56,overcast clouds,2.0371,45.3438,
31,Kahului,US,78.82,scattered clouds,20.8947,-156.4700,

In [58]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [94]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"].replace('', np.nan, inplace=True)
hotel_df.dropna(subset=['Hotel Name'], inplace=True)
clean_hotel_df = hotel_df
clean_hotel_df.tail()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
298,Rantauprapat,ID,89.33,overcast clouds,2.1000,99.8333,Permata Land Hotel & Resort
302,Namatanai,PG,86.29,broken clouds,-3.6667,152.4333,Seagulls Inn Namatani
313,Gwadar,PK,77.59,clear sky,25.1216,62.3254,Sadaf Resort
318,Kalmunai,LK,80.55,light rain,7.4167,81.8167,VS Villa
688,Bandarbeyla,SO,80.04,broken clouds,9.4942,50.8122,JABIR HOTEL

In [95]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [96]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [97]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))